.success-failure-icon{
    height: 500px;
    display: none;
    gap: 20px;
    position: relative;
    right: 500px;
    bottom: 20px;

}
.success{
    border-radius: 50%;
    width: 130px;
    height: 130px;
     display: none; 
    position: relative;
    left: 7px;
}
.text-and-title input[type="button"]{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    height: 40px;
    background: #0880D6;
    border: 1px solid #028A3D;
}
.failure{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    left: 7px;
    display: none;
}